extends layout

block content
    h1(style=('text-align: center;'))= title
    
    form.w-50.mx-auto(action="", method="post")
        div.form-label-group
            input#title.form-control(type='text' name='title' value=(undefined == info ? '' : info.title) placeholder='Title')
            label(for='title') Title
        div.form-label-group
            textarea#message.h-50.form-control(name='message' rows='6' placeholder='Enter message here')
            label(for='message') Message
        button.btn.btn-primary.btn-block(type='submit') Create Message
    
    if errors
        ul
            for error in errors
                li!= error.msg