extends layout

block content
    h1= title

    form(action="", method="post")
        div.form-group
            label(for='title') Title: 
            input#title.form-control(type='text' name='title' placeholder='title')
            label(for='message') Message:
            textarea#message.form-control(name='message' rows='3' placeholder='Enter message here')
        button.btn.btn-primary(type='submit') Create Message