extends layout

block content
    h1(style='text-align: center;')= title

    form.w-50.mx-auto(action='', method='post')
        div.form-group
            label(for='first_name') First Name: 
            input#first_name.form-control(type='text' name='first_name' placeholder='First Name' value=(undefined == user ? '' : user.first_name))
            label(for='last_name') Last Name: 
            input#last_name.form-control(type='text' name='last_name' placeholder='Last Name' value=(undefined == user ? '' : user.last_name))
            label(for='username') Username: 
            input#username.form-control(type='text' name='username' placeholder='Username' value=(undefined == user ? '' : user.username) required)
            label(for='password') Password: 
            input#password.form-control(type="password" name="password" placeholder='Password'  required)
            label(for='confirm-pass') Confirm Password: 
            input#confirm-pass.form-control(type="password" name="confirm-pass"  placeholder='Confirm Password' required)
        button.btn.btn-primary(type='submit') Sign Up

    if errors
        ul
            for error in errors
                li!= error.msg