.message-container,
.info-container {
  margin: 15px;
}

body {
  background: rgb(204, 203, 203);
}

.msgContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
